@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&family=Roboto:ital,wght@0,100;0,300;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&family=Roboto:ital,wght@0,100;0,300;1,100&display=swap");

:root {
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);
  --very-light-gray: hsl(0, 0%, 95%);
  --lexend: "Lexend Deca";
  --bigshouldersdisplay: "Big Shoulders Display";
}
* {
  margin: 0;
}
html, body {
  min-height: 100%;
}

body {
  font-size: 15px;
  font-family: var(--lexend), sans-serif;
  color: var(--very-light-gray);
}
.title {
  font-family: var(--bigshouldersdisplay),sans-serif;
  padding: 16px 0px;
  font-size: 2rem;
  font-weight: 700;
}

.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 44px;
  left: 29px;
  right: 29px;

}
img {
  padding-top: 28px;
}
.first,
.second,
.third {
  padding: 0 0px 20px 17px;
}
.vehicle-description {
  font-family: var(--lexend),arial;
  /* min-width: 200px; */
  /* width: 207px; */
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  padding-right: 24px;

}

.first {
  background-color: var(--bright-orange);
}
.second {
  background-color: var(--dark-cyan);
}
.third {
  background-color: var(--very-dark-cyan);
}
.buttons {
  padding-bottom: 14px;
  padding-top: 22px;
}
.buttons{
  padding-bottom: 10px;
}

.button {
  background-color: var(--very-light-gray);
  border-radius: 31px;
  border: none;
  width: 150px;
  height: 6vh;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  font-family: var(--lexend), Arial;
}
.button:hover{
  background-color: transparent;
  color: white;
  border: 1px solid white;
}
.btn1 {
  color: var(--bright-orange);
}
.btn2 {
  color: var(--dark-cyan);
}
.btn3 {
  color: var(--very-dark-cyan);
}

@media (min-width: 600px) {
  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 479px;
    border-radius: 7px;
    overflow: hidden;
    align-items: center;
   
  }
  .wrapper {
    width: 100%;
    height: 100vh;
    background-color: var(--very-light-gray);
  }

.vehicle-description {
  padding-right: 42px;
  padding-bottom: 47px;
  line-height: 2em;
}
.first, .second, .third {
  padding: 0 0px 20px 17px;
  flex-basis: auto;
  height: 100%;
}
.buttons {
  padding-bottom: 10px;
}
}
